body {
    font-family:"Roboto","Droid Sans","Helvetica Neue","Helvetica","Veranda",sans-serif !important;
    padding:1rem;
}

.materialblue {
    background:#5677fc;
    color:#fff;
}

html /deep/ .materialblue {
    /* We need this seperate for Firefox */
    background:#5677fc;
    color:#fff;
}

html >>> .materialblue {
    /* We need this seperate for Firefox */
    background:#5677fc;
    color:#fff;
}

.materialgreen, .materialblue:hover {
    background: #4CAF50;
    color: #fff;
}

.materialindigo {
    background: #3f51b5;
    color:#fff;
}

.extreme-danger {
    box-shadow: 0 0 2em 0.25em #f00;
    background:#f00;
    color: #fff;
}

.fadebg {
    transition:all .2s ease-out;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
}

.materialcyan {
    background: #00bcd4;
    color:#fff;
}

.materialteal {
    background: #009688;
    color:#fff;
}

.materialbluegrey {
    background: #607d8b;
    color:#fff;
}

.materialbluetext, paper-button[affirmative] {
    color:#5677fc!important;

}
html /deep/ [affirmative] {
    /* We need this seperate for Firefox */
    color:#5677fc!important;

}
html >>> [affirmative] {
    /* We need this seperate for Firefox */
    color:#5677fc!important;

}

.materialindigotext {
    color: #3f51b5;

}

.materialcyantext {
    color: #00bcd4;

}

.materialtealtext {
    color: #009688;

}

.materialbluegreytext {
    color: #607d8b;

}
html /deep/ .good-location {
    /* We need this seperate for Firefox */
    color: #4CAF50;
}
html >>> .good-location {
    /* We need this seperate for Firefox */
    color: #4CAF50;
}
.good-location {
    color: #4CAF50;
}
html /deep/ .bad-location {
    /* We need this seperate for Firefox */
    color: #F44336;
}
html >>> .bad-location {
    /* We need this seperate for Firefox */
    color: #F44336;
}
.bad-location {
    color: #F44336;
}
html /deep/ #near-me-container {
    /* We need this seperate for Firefox */
    float:left;
    display:inline-block;
}
html >>> #near-me-container {
    /* We need this seperate for Firefox */
    float:left;
    display:inline-block;
}
#near-me-container {
    float:left;
    display:inline-block;
}
.italic {
    font-style:italic;
}
.click {
    cursor:pointer;
}
.med-octicon {
    font-size:24px !important;
}
#result_container {
    padding:1em;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fff;
    box-shadow: 5px 5px 8px 5px rgba(0,0,0,.5);
}

.capitalize,
html /deep/ .capitalize,
html /deep/ .genus,
html /deep/ .genus::shadow input,
html /deep/ .genus_authority,
html /deep/ .genus_authority::shadow input,
html /deep/ .species_authority,
html /deep/ .species_authority::shadow input,
html /deep/ .common_name,
html /deep/ .common_name::shadow input,
html /deep/ .linnean_order,
html /deep/ .linnean_order::shadow input {
    /* We need this seperate for Firefox */
    text-transform:capitalize;
}

.capitalize,
html >>> .capitalize,
html >>> .genus,
html >>> .genus::shadow input,
html >>> .genus_authority,
html >>> .genus_authority::shadow input,
html >>> .species_authority,
html >>> .species_authority::shadow input,
html >>> .common_name,
html >>> .common_name::shadow input,
html >>> .linnean_order,
html >>> .linnean_order::shadow input {
    /* We need this seperate for Firefox */
    text-transform:capitalize;
}

.capitalize,
.cndb-row-headers th,
.genus,
.genus_authority,
.species_authority,
.common_name,
.major_subtype,
.linnean_order,
.cndb-row-headers th {
    text-transform:capitalize;
}

html /deep/ .genus,
html /deep/ .genus::shadow input,
html /deep/ .species,
html /deep/ .species::shadow input,
html /deep/ .subspecies,
html /deep/ .subspecies::shadow input {
    /* We need this seperate for Firefox */
    font-style:italic;
}
html >>> .genus,
html >>> .genus::shadow input,
html >>> .species,
html >>> .species::shadow input,
html >>> .subspecies,
html >>> .subspecies::shadow input {
    /* We need this seperate for Firefox */
    font-style:italic;
}


html /deep/ .text-right {
  text-align: right;
}
html /deep/ .text-muted {
  color: #777;
}
html /deep/ small,
html /deep/ .small {
  font-size: 85%;
}


html >>> .text-right {
  text-align: right;
}
html >>> .text-muted {
  color: #777;
}
html >>> small,
html >>> .small {
  font-size: 85%;
}

.genus, .species, .subspecies{
    font-style:italic;
}
/* .cndb-result-entry:nth-child(2n) { */
/*     background:rgba(50,50,50,.1); */
/* } */
.cndb-result-entry:hover {
    background: rgba(0,0,0,.2)!important;
    transition: all .2s ease-out;
}
.cndb-result-entry td {
    padding-left:.5rem;
    padding-right:.5rem;
}
#search {
    position:relative;
    /* top:-3em; */
}
#search_form {
    position:relative;
}
#loader {
    position:fixed;
    top:50%;
    left:50%;
}
#loader.good::shadow .circle {
    border-color: rgba(46,190,17,0.9);
}
#loader.bad::shadow .circle {
    border-color:rgba(255,0,0,0.9);
}
paper-dropdown.dropdown {
/* Override Bootstrap */
    position:absolute;
}
paper-toggle-button {
    margin-left:1rem;
}
paper-icon-button {
    vertical-align:middle;
}
.fullwidth {
    width:100%;
}
#collapse-advanced {
    margin-top:1rem;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  width:80%;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
#result_container .bs-callout {
    float:none;
}
form {
    /* margin-left:2rem; */
}
html /deep/ #modal-taxon-editor paper-input {
    display:block;
}

html /deep/ .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

html /deep/ paper-autogrow-textarea textarea {
    width:90%;
}

html >>> #modal-taxon-editor paper-input {
    display:block;
}
html >>> .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

html >>> paper-autogrow-textarea textarea {
    width:90%;
}

#modal-taxon-editor paper-input {
    display:block;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
paper-autogrow-textarea textarea {
    width:90%;
}

#password_security + #login {
    float:left;
    min-width:60%;
}

#login .form-inline .form-group {
    margin-bottom:15px;
}

.form-inline .has-feedback div {
    margin-left:0;
}

/***
 * Force the scollbar to show on the #modal-taxon-editor
 ***/

html /deep/ #modal-taxon-editor::-webkit-scrollbar, .showScroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

html /deep/ #modal-taxon-editor::-webkit-scrollbar-thumb, .showScroll::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

html >>> #modal-taxon-editor::-webkit-scrollbar, .showScroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

html >>> #modal-taxon-editor::-webkit-scrollbar-thumb, .showScroll::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/************
 * Lightbox
 ***************/

/* IMAGE LIGHTBOX SELECTOR */

#imagelightbox
{
    cursor: pointer;
    position: fixed;
    z-index: 10000;

    -ms-touch-action: none;
    touch-action: none;

    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}


/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
    border-radius: 50%;
}
#imagelightbox-loading
{
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5 );
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 0.625em; /* 10 */
    margin: -1.25em 0 0 -1.25em; /* 20 */

    -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
    box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
#imagelightbox-loading div
{
    width: 1.25em; /* 20 */
    height: 1.25em; /* 20 */
    background-color: #fff;
    margin:0;
    padding:0;
    position:relative;
    left:25%;
    top:25%;

    -webkit-animation: imagelightbox-loading .5s ease infinite;
    animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading
{
    from { opacity: .5;	-webkit-transform: scale( .75 ); }
    50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
    to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
}
@keyframes imagelightbox-loading
{
    from { opacity: .5;	transform: scale( .75 ); }
    50%	 { opacity: 1;	transform: scale( 1 ); }
    to	 { opacity: .5;	transform: scale( .75 ); }
}


/* OVERLAY */

#imagelightbox-overlay
{
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}