body {
    font-family:"Roboto","Droid Sans","Helvetica Neue","Helvetica","Veranda",sans-serif !important;
    padding:1rem;
}

.materialblue, html /deep/ .materialblue {
    background:#5677fc;
    color:#fff;
}

.materialindigo {
    background: #3f51b5;
    color:#fff;
}

.materialcyan {
    background: #00bcd4;
    color:#fff;
}

.materialteal {
    background: #009688;
    color:#fff;
}

.materialbluegrey {
    background: #607d8b;
    color:#fff;
}

.materialbluetext, paper-button[affirmative], html /deep/ [affirmative] {
    color:#5677fc!important;

}

.materialindigotext {
    color: #3f51b5;

}

.materialcyantext {
    color: #00bcd4;

}

.materialtealtext {
    color: #009688;

}

.materialbluegreytext {
    color: #607d8b;

}
html /deep/ .good-location {
    color: #4CAF50;
}
html /deep/ .bad-location {
    color: #F44336;
}
html /deep/ #near-me-container {
    float:left;
    display:inline-block;
}
.italic {
    font-style:italic;
}
.click {
    cursor:pointer;
}
.med-octicon {
    font-size:24px !important;
}
#result_container {
    padding:1em;
}

html /deep/ .genus,html /deep/ .genus_authority,html /deep/ .species_authority,html /deep/ .common_name,html /deep/ .linnean_order,.cndb-row-headers th,.genus,.genus_authority,.species_authority,.common_name,.linnean_order,.cndb-row-headers th {
    text-transform:capitalize;
}
html /deep/ .genus, html /deep/ .species, html /deep/ .subspecies,.genus, .species, .subspecies{
    font-style:italic;
}
/* .cndb-result-entry:nth-child(2n) { */
/*     background:rgba(50,50,50,.1); */
/* } */
.cndb-result-entry:hover {
    background: rgba(0,0,0,.2)!important;
    transition: all .2s ease-out;
}
.cndb-result-entry td {
    padding-left:.5rem;
    padding-right:.5rem;
}
#search {
    position:relative;
    /* top:-3em; */
}
#search_form {
    position:relative;
}
#loader {
    position:fixed;
    top:50%;
    left:50%;
}
#loader.good::shadow .circle {
    border-color: rgba(46,190,17,0.9);
}
#loader.bad::shadow .circle {
    border-color:rgba(255,0,0,0.9);
}
paper-dropdown.dropdown {
/* Override Bootstrap */
    position:absolute;
}
paper-toggle-button {
    margin-left:1rem;
}
paper-icon-button {
    vertical-align:middle;
}
core-label.col-xs-6 {
    padding-left:0;
}
.fullwidth {
    width:100%;
}
#collapse-advanced {
    margin-top:1rem;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  width:80%;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
form {
    margin-left:2rem;
}
/************
 * Lightbox
 ***************/

/* IMAGE LIGHTBOX SELECTOR */

#imagelightbox
{
    cursor: pointer;
    position: fixed;
    z-index: 10000;

    -ms-touch-action: none;
    touch-action: none;

    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}


/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
    border-radius: 50%;
}
#imagelightbox-loading
{
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5 );
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 0.625em; /* 10 */
    margin: -1.25em 0 0 -1.25em; /* 20 */

    -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
    box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
#imagelightbox-loading div
{
    width: 1.25em; /* 20 */
    height: 1.25em; /* 20 */
    background-color: #fff;
    margin:0;
    padding:0;
    position:relative;
    left:25%;
    top:25%;

    -webkit-animation: imagelightbox-loading .5s ease infinite;
    animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading
{
    from { opacity: .5;	-webkit-transform: scale( .75 ); }
    50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
    to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
}
@keyframes imagelightbox-loading
{
    from { opacity: .5;	transform: scale( .75 ); }
    50%	 { opacity: 1;	transform: scale( 1 ); }
    to	 { opacity: .5;	transform: scale( .75 ); }
}


/* OVERLAY */

#imagelightbox-overlay
{
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}